/*
reglas
selectores
    selector de etiqueta "tag de html"
        header
        selector descendente "elemento hijo de un tag"
        body header div article ol i a
    selector de clase "seleccion directa por clase en conjunto"
        .clase .portafolio
    selector por id "valores para un unico elemento"
        #id #nombre
delcaraciones
propiedades
valores
*/

/* Iconos */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?p1gr7w');
    src:  url('../fonts/icomoon.eot?p1gr7w#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?p1gr7w') format('truetype'),
      url('../fonts/icomoon.woff?p1gr7w') format('woff'),
      url('../fonts/icomoon.svg?p1gr7w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
    font-size: 45px;
  }
  .icon-instagram:before {
    content: "\ea92";
    font-size: 45px;
  }
  .icon-twitter:before {
    content: "\ea96";
    font-size: 45px;
  }
  .icon-github:before {
    content: "\eab0";
    font-size: 45px;
  }
  .icon-menu:before {
    content: "\eaeb";
    /* font-size: 45px; */
  }
  




/* #Portafolio */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: -0.2px;
    /* text-decoration: underline; */
    color: white;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.hero {
    height: 300px;
    /* background-image: url('./images/5.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}
.project {
    border: 1px solid gray;
    border-radius: 10px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Roboto Mono', monospace;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 50%;
}

.project-imageContainer {
    width: 50%;
 
}

.project-imageContainer img {
    max-width: 100%;
    /* height: auto;
    align-items: center; */
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}
.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}
.box {
    flex-shrink: 0;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer img {
    vertical-align: middle;
}

.footer a{
    color: white;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    /* border: 1px solid red; */
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 11px;
    overflow: hidden;
    background: #f4fbff;
    /* display: inline-block; */
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    border-radius: 11px;
    text-align: center;
}
.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social {
    
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.twitter  {
    background-image: url(./images/twitter.svg);
    
}
.social-link.facebook  {
    background-image: url(./images/facebook.svg);
}
.social-link.github  {
    background-image: url(./images/github.svg);
}
.social-link.instagram  {
    background-image: url(./images/instagram.svg);
}

.form-email input {
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(./images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px; 
    margin-top: 10px;
    border-color: white;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.html-video {
    width: 100%;
    height: auto;
}
.youtube-video {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 4; */
}
.flexible-video {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.burguer-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(27, 33, 39, .8));
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 4px;
    color: rgb(30,202,255);
}



/*Desktop firts empezar desde dispositivo mas grand */

@media screen and (max-width: 1023px) {
    /* body {
        border: 10px solid blue;
    } */
    .event-list-title {
        margin-left: 0.25em;
    }
    .container {
        padding: 0em 1em;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
        color: lightseagreen;
    }
}

@media screen and (max-width: 767px) {
    /* body {
        border: 10px solid red;
    } */
    h2 {
        font-size: 1.2em;
        margin: .5em 0em;
    }
    .burguer-button {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
        
    }
    .header a {
        justify-content: center;
        color: rgb(68,68,68);
        font-weight: bold;
        font-size: 22px;
    }
    .header .logo {
        text-align: center;
    }
    .menu {
        position: fixed;
        background: white;
        padding-top: 10vh;
        border-radius: 25px;
        z-index: 3;
        top: -100%;
        left: -100%;
        bottom: 10%;
        width: 80vw;
        /* height: 100vh; */
        /* height: 80vh; */
        /* align-items: center;
        justify-content: center; */
        transition: 0.25s;
        -webkit-box-shadow: 0px 0px 146px -12px rgba(51,51,51,1);
        -moz-box-shadow: 0px 0px 146px -12px rgba(51,51,51,1);
        box-shadow: 0px 0px 146px -12px rgba(51,51,51,1);
        

    }
    .menu.is-active {
        top: 10%;
        left: 10%;

    }
    .project {
        display: block;
        margin: 0;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        font-size: 14px;
    }
    .project-course, .project-date, .project-url {
        margin: 0.3em 0;
        margin-bottom: 0.3em;
    }
    .project-title {
        font-size: 1.5em;            
    }
    .project-url {
        font-size: 1em;        
    }
    .project-course {
        font-size: 0.7em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description{
        font-size: 1em;        
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }
    .container {
        padding: 0em;
    }

}

@media screen and (max-width: 480px) {
    /* body {
        border: 10px solid green;
    } */
    h1 {
        font-size: 1.5em;
    }
    .project-details {
        width: auto;
        font-size: 12px;
    }
    .event-detail {
        margin: -2em .5em .5em .5em;
        padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button {
        margin: 1em auto;
    }
    .form-email h3 {
        margin-top: 0;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    .social-link {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }

}

@media screen and (max-width: 320px) {
    /* body {
        border: 10px solid yellow;
    } */
    h1 {
        font-size: 1.2em;
    }
    .hero {
        padding: 2em 1em;
    }
}